doctype html
html
   head
      title Countdown
      script
       include ../public/scripts/countDown.js
      meta(charset="utf-8")
      meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
      //- link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css")
      link(href="/css/bootstrap.min.css" rel="stylesheet")
      link(href="/css/mdb.min.css" rel="stylesheet")
      link(href="css/countDown.css" rel="stylesheet")
   
   body
    div.container
      p#countdown
      div.progress
       div#progressbar.progress-bar.progress-bar-striped.bg-info(role="progressbar" aria-valuemin="0" aria-valuemax="100")
      button.btn.btn-success(type="button") DEFUSED
      button.btn.btn-danger(type="button") EXPLODED