doctype html
html
   head
      title Test Client
      script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
      script(src="/socket.io/socket.io.js")
      script
        include ./testClient.js
   
   body
    h1 Test Client