.progress{
	width: 50%;
	height: 20px;
	right: -25%;
	margin-bottom: 50px;
}
.progress-bar{
	/*width: 25%;*/
	height: 20px !important;
}

#countdown{
	font-size: 2.5em;
}
.container{
	text-align: center;
	margin-top: 30vh;
}
#bombNumber{
	font-weight: bold;
}